.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

label{
    font: 20px;
    font-weight: bold;
}

.input-contact{
    padding: 10px;
    background-color:rgb(177, 214, 221);
    margin-bottom: 10px;
    border-radius: 15px;
}

.input-submit{
    background-color: rgb(209, 209, 209);
    padding: 10px;
    border-radius: 15px;
    width: 100px;
}