.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.container .title{
    font-size: 50px;
}

.container .rating-container button{
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid lightblue ;
    padding: 5px 10px;
}

.container .rating-container button:hover{
    background-color: white;
    color: black;
}

.container .rating-container{
    margin-bottom: 20px;
}

.container .fa-star{
    color: #FFD43B
}

.container .fa-star:hover{
    color: black
}

.container .anime-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0;
}

.container .anime{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 350px;
    margin: 0px 15px 20px 15px
}

.container .anime h1{
    margin: 10px 0;
    border-bottom: 1px solid black;
}

.container .anime img{
    width: 60%;
    height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.container .anime .rating-container{
    display: block;
}

.container .anime p{
    height: 50px;
    overflow-y: scroll;
}

.container .anime span{
    color: gray;
    font-size: 15px;
}