.container{
    display: flex;
    width: 100vw;
    height: 73vh;
    margin-left: 1vw;
}

.form-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 37%;
    height: 100%;
}

.content-container{
    margin-top: 40px;
    margin-right: 25px;
    margin-left: 10px;
    width: 63%;
    height: 90%;
    overflow-y: scroll;
    padding: 20px;
    background-color:rgb(197, 220, 224);
    border-radius: 30px;
    border: 1px black solid;
}

.content-container .project-container{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
}

.content-container .project-container img{
    height: 175px;
    width: 200px;
    object-fit: fill;
    margin-right: 10px;
    border-radius: 15px;
}

.content-container .project-container .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-container .project-container .text-container .icon-container{
    margin-top: 10px;
}

span{
    color: gray;
    font-size: 12px;
}

.btn-div .edit-btn{
    padding: 8px 25px;
    background-color: rgb(69, 69, 247);
    border-radius: 15px;
    margin-bottom: 10px;
}

.btn-div .detail-btn{
    padding: 8px 20px;
    background-color: lightblue;
    border-radius: 15px;
    margin-bottom: 10px;

}

.btn-div{
    align-self: end;
    justify-self: end;
}

form{
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction:column;
}

.container .form-container form .blog-input{
    background-color:rgb(197, 220, 224);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(75, 94, 100);
    border-radius: 15px;
}

.container .form-container form .blog-radio{
    background-color:rgb(197, 220, 224);
    margin-bottom: 15px;
    border: 1px solid rgb(75, 94, 100);
    padding: 10px;
}

label{
    font: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.form-container form h1{
    text-align: center;
}

.input-submit{
    background-color:rgb(209, 207, 209);
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    border: 1px solid rgb(100, 92, 75);
}

.text-container .desc{
    height: 50px;
    overflow: hidden;
}


textarea{
    resize: none;
}

