.container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 73vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 40px;
    border: 1px solid black;
}

form h1{
    text-align: center;
}

form span{
    text-align: center;
    color: gray;
}

label{
    font: 20px;
    font-weight: bold;
}

.input-contact{
    padding: 10px;
    background-color:rgb(197, 220, 224);
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid rgb(75, 94, 100);
}

.input-submit{
    background-color:rgb(224, 197, 223);
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    border: 1px solid rgb(100, 92, 75);
}

textarea{
    resize: none;
}