.card-container{
    border: 3px solid black;
    width: 600px;
    margin: 90px auto;
    padding: 0px;
    border-radius: 15px;
    display: flex;
    background-color: rgb(201, 201, 201);
}

.card-container:hover{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
}

.card-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px
}

.card-container table{
    width: 100%;
    justify-content: center;
}

.text-container{
    margin: 15px;
}

.icon-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-container a{
    color: black;
}

.text-icon-container{
    display: flex;
    flex-direction: column;
}

.text-container .btn{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    border-radius: 15px;
}

@media only screen and (max-width: 500px) {
    .card-container{
        width: 350px;
    }

    .text-container h1{
        font-size: 18px;
    }

    .text-container p{
        height: 40px;
        overflow-y: scroll;
    }
    .text-container .btn{
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
    }
}