@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(235, 235, 235);
    font-family: "Roboto Condensed", sans-serif;
}

h1{
    font-family: "Roboto Mono", monospace;
}

nav div{
    display: flex;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 70px;
}

.navbar-item{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: "MedievalSharp", cursive;
}

.navbar-item:hover{
    color: aquamarine;
}

.navbar-list{
    display: flex; 
    gap: 50px; 
    align-items: center; 
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-btn{
    justify-content: end;
    margin-right: 20px;
    font-family: "MedievalSharp", cursive;
}

.navbar-btn a{
    padding: 15px;
    background-color: rgb(39, 179, 204);
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

#burger-button {
    display: none;
}


.burger-nav-container {
    display: none;
}

.burger-nav-container a {
    border: 2px solid black;
    color: black;
    font-family: "MedievalSharp", cursive;
    background-color: rgb(39, 179, 204);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    #burger-button{
        display: block;
        color: white;
    }

    .nav-collapse{
        display: none;
    }

    .burger-nav-container{
        display: none;
        flex-direction: column;
        font-size: 23px;
    }

}